<button class="w-full p-1 hover:text-gray-900 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 whitespace-nowrap">
  Notification 1
</button>
<button class="w-full p-1 hover:text-gray-900 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 whitespace-nowrap">
  Notification 1
</button>
<button class="w-full p-1 hover:text-gray-900 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 whitespace-nowrap">
  Notification 1
</button>
<button class="w-full p-1 hover:text-gray-900 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 whitespace-nowrap">
  Notification 1
</button>
<button class="w-full p-1 hover:text-gray-900 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 whitespace-nowrap">
  Notification 1
</button>
<button class="w-full p-1 hover:text-gray-900 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 whitespace-nowrap">
  Notification 1
</button>
<hr>
<button class="w-full p-1 hover:text-gray-900 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 whitespace-nowrap">
  See all
</button>


